/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    display: block;
    }
/* css reset End */

.wrap {
    margin: 0 auto;
    width: 95.239%;
}
/* header */
.header {
    background-color:#AA0601;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 312px;
    padding-right: 312px;
    
}
.header h1 a {
    background-image: url(/作業-第三週-眼鏡行形象網站/imgs/logo-white.png);
    background-size: 100%;
    width: 80px;
    height: 48px; 
    display: block; 
    text-indent: 101%; /* 首行縮排*/
    white-space: nowrap;    /* 不要讓文字斷行*/
    overflow: hidden;   /*把文字隱藏起來*/
}
.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header ul li {
    padding-left: 64px;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
}
/* header */

/* banner */
.banner img {
    width: 100%;
}
.bannerFont36 {
    font-size: 36px;
    color: #650300;
    font: "思源黑體 TW",Regular
}
.bannerFont64 {
    font-size: 64px;
    color: #650300;
    font:"思源黑體 TW",bold;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
}
.bannderFont20 a {
    font-size: 20px;
    color: #FFFFFF;
    background: #AA0601;
    padding: 6px 12px 6px;
    text-decoration: none;
}
.banner ul{
    text-align: right;
    padding-top: 350px;
}
.banner img {
    position: relative;
    z-index: 1;
}
.banner ul {
    width: 80%;
    position:absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
/* banner */

/* introduce */
.introduce h2{
    font-size: 48px;
    color: #650300;
    font: "思源黑體 TW";
    font-weight: bold;
    padding-bottom: 32.33px;
}
.introduce span {
    font-size: 24px;
    color: #650300;
    font: "思源黑體 TW";
    font-weight: bold;
    text-align: center;
    padding-bottom: 8px;
}
.introduce p {
    font-size: 16px;
    color:#000000;
    font: "思源黑體 TW";
    line-height: 24px;
    padding-bottom: 80px;
}
.introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: #FBF2F2;
}
.introduce ul {
    width: 70%;
    display: flex;
}
.introduce ul li {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.introduce ul li img {
    width: 26.70%;
    margin: 0 auto;
    padding-bottom: 24.33px;
}
/* introduce */

/* product */
.product {
    padding-bottom: 80px;
}
.product h2 {
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 36px;
}
.product ul {
    display: flex;
    justify-content: center;
}
.product ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product ul li a img {
    max-width: 416px;
    padding: 12px;
}
.product ul li p{
    font-size: 48px;
    color: #AA0601;
    font: italic normal 900 48px Roboto;
}
/* product */

/* joinProduct */
.joinProduct {
    background-image: url(/作業-第三週-眼鏡行形象網站/imgs/index-bg.png);
    background-size: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.joinProduct h2 {
    color: #FFFFFF;
    font: "思源黑體 TW";
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 48px;
}
.joinProduct ul {
    display: flex;
    justify-content: center;
}
.joinProduct ul li {
    border: 1px solid #E0E0E0;
}
.joinProduct ul li a {
    text-decoration: none;
}
.joinProduct ul li a img {
    max-width: 648px;
}
.joinProduct ul li a p {
    color:#FFFFFF;
    font-size: 48px;
    font: italic normal 900 48px/72px Roboto;
    background-color: #fff;
    color: #AA0601;
    text-align: center;
}
/* joinProduct */

/* customer */
.customer h2{
    font-size: 48px;
    color: #650300;
    font: "思源黑體 TW";
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 36px;
}
.customer ul {
    display: flex;
    justify-content: center;
    padding-bottom: 68px;
}
.customer ul li {
    display: flex;
    flex-direction: column;
    max-width:307px;
    margin: 12px;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 2px 6px #00000029;

}
.customer ul li h3 {
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
}
.customerP1 {
    padding-left: 16px;
    padding-right: 16px;
    line-height:21px;
}
.customerP2 {
    font-size: 14px;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 48px;
    color: #707070;
}
/* customer */

/* contact */
.contact {
    
    background-color: #FBF2F2;
}
.contact ul {
    width: 33%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contact h2 {
    font-size: 48px;
    font-weight: bold;
    color: #650300;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 48px;
    
}
.contactUl li {
    width: 100%;
    padding-bottom: 16px;
    font-size: 20px;
}
.contactUl li input {
    width: 100%;
    font-size: 16px;
    height: 36px;
}
.contactUl li textarea {
    width: 100%;
    height: 136px;
}
.contactFont20 {
    font-size: 20px;
    line-height: 30px;
}
.contactFont16 {
    font-size: 16px;
    padding-bottom: 8px;
}
.contact button {
    font-size: 16px;
    text-align: center;
}
.contactUl2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}
.contactUl2But  input {
    background-color: #AA0601;
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 176px;
    padding-right: 176px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 48px;
}
/* contact */

/* footer */
.footer {
    background-color: #AA0601;
}
.footerFirst {
    padding-left: 312px;
    padding-right: 312px;
    padding-top: 60.2px;
}
.footerSecond {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerSecond img {
    width: 48px;
    padding-left: 32px;
}
.footerSecond a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
.footerThird {
    display: flex;
    justify-content: center;
    padding-button: 35.98px;
}
.footerThirdTwo {
    display: flex;
    justify-content: center;
}
.footerThird li {
    padding-right: 48px;
}
.footerSecondTwo a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 36px;
}
.fa-phone {
    color: #FFFFFF;
    font-size: 36px;
    padding-right: 6px;
}
.fa-envelope-circle-check {
    color: #FFFFFF;
    font-size: 36px;
    padding-right: 6px;
}
.footerSecondTwo li {
    padding-bottom: 8px;
}
.footerSecondThird {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footerSecondThird a {
    color: #FFFFFF;
    text-decoration: none;
}
.footerUl2_1_1 {
    display: flex;
    justify-content: end;

}
.footerUl2_1_1 li {
    padding-left: 21px;
}
/* footer */

